@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant;
<h4>Add a new Restaurant</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Address)
    @Html.TextBoxFor(model => model.Address)
    @* @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CusineId") *@
    <input type="submit" value="Add new restautant" />
}

<p>@Html.ActionLink("Show all restaurent", "Index")</p>
